.Counter{
    display: flex;
    align-items: center;
}
.Sub,
.Add{
    border: none;
    background-color: #FCBF49;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    line-height: 40rem;
    font-size: 30rem;
}
.Sub{
    background-color: white;
    border: 1px solid black;
}
.Count{
    font-size: 26rem;
    margin: 0 10rem;
}